<header class="header">
  <a href="#" class="logo">Profile.</a>
  <nav class="navbar">
    <a href="#home" class="active">Home</a>
    <a href="#about">About</a>
    <a href="#services">Language</a>
    <a href="#product">Product</a>
  </nav>
  <div class="bx bx-moon" id="darkMode-icon"></div>

  <div class="bx bx-menu" id="menu-icon"></div>
</header>


<!-- home -->
<section class="home" id="home">
  <div class="home-content">
    <h3>Xin chào, Tôi là</h3>
    <h1>Nguyễn Quốc Việt</h1>
    <p>Tôi xin chân thành cảm ơn nhà tuyển dụng đã vào hồ sơ cá nhân của tôi!!!!  </p>

    <div class="social-media">
      <a href="https://www.facebook.com/sky.quocsviets/"><i class="bx bxl-facebook"></i></a>
      <a href="https://www.instagram.com/viet_n_q/"><i class="bx bxl-instagram"></i></a>
      <a href="https://twitter.com/home"><i class="bx bxl-twitter"></i></a>
    </div>

    <a href="/assets/NguyenQuocViet_CV.pdf" download class="btn">Download CV</a>
  </div>

  <div class="profession-container">
    <div class="profression-box">

      <div class="profression" style="--i:2;">
        <i class="bx bx-code-alt"></i>
        <h3>BackEnd developer</h3>
      </div>

      <div class="profression" style="--i:0;">
        <i class="bx bx-code-alt"></i>
        <h3>FullStack developer</h3>
      </div>

      <div class="profression" style="--i:1;">
        <i class="bx bx-code-alt"></i>
        <h3>FrontEnd developer</h3>
      </div>

      <div class="circle"></div>
    </div>
    <div class="overlay"></div>
  </div>
  <div class="home-img">
    <img src="assets/icon/canhan.png" alt="" />
  </div>

</section>

<!-- about section -->

<section class="about" id="about">
  <div class="about-img">
    <img src="assets/icon/canhan.png" alt="" />
  </div>

  <div class="about-content">
    <h2 class="heading">Về <span>Tôi</span></h2>
    <h3>Tôi ở đây là để tham gia đóng góp và học hỏi dự án của quý công ty</h3>
    <p>Tôi sẽ công hiến hết mình cho công việc của quý công ty, tích cực tham gia và đóng cho quý công ty.</p>
    <a href="#" class="btn">Xem thêm...</a>
  </div>
</section>


<!-- service section  -->
<section class="services" id="services">
  <h2 class="heading"><span> Ngôn ngữ lập trình </span></h2>
  <div class="services-container">
    <div class="services-box">
      <i class='bx bxl-java'></i>
      <h3>Java Development</h3>
      <p>Về ngôn ngữ java tôi đã làm về ngôn ngữ này hơn một năm với 4 dự án, tôi sử dụng các thư viện của java như:
        Java Spring JPA, Java Core, Spring Boot, java 8, java 11</p>
      <a href="#" class="btn">Xem thêm...</a>
    </div>
    <div class="services-box">
      <i class='bx bxl-angular'></i>
      <h3>Angular Development</h3>
      <p>Về ngôn ngữ Angular tôi đã làm về ngôn ngữ này hơn một năm với 4 dự án, tôi sử dụng các thư viện của java như:
        AngularJS, Angular Material, Angular Core, TypeScript</p>
      <a href="#" class="btn">Xem thêm...</a>
    </div>

    <div class="services-box">
      <i class='bx bxl-react'></i>
      <h3>React Development</h3>
      <p>Về ngôn ngữ React tôi đã làm về ngôn ngữ này trong ba tháng với 1 dự án, tôi sử dụng các thư viện của java như:
        React hook, React JS, TypeScript</p>
      <a href="#" class="btn">Xem thêm...</a>
    </div>
  </div>
</section>

<!-- product section  -->
<section class="product" id="product">
  <h2 class="heading"><span>Dự án</span> đã tham gia</h2>

  <div class="product-container">
    <div class="product-box">
      <img src="assets/icon/vdss.png" alt="" />
      <div class="product-layer">
        <h4> Website VDSS </h4>
        <p>Đây là website của công ty VDSS</p>
        <a href="http://vdss.com.vn/#/home"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="product-box">
      <img src="assets/icon/vdss.png" alt="" />
      <div class="product-layer">
        <h4> Website VDSS </h4>
        <p>Đây là website của công ty VDSS</p>
        <a href="http://vdss.com.vn/#/home"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="product-box">
      <img src="assets/icon/vdss.png" alt="" />
      <div class="product-layer">
        <h4> Website VDSS </h4>
        <p>Đây là website của công ty VDSS</p>
        <a href="http://vdss.com.vn/#/home"><i class="bx bx-link-external"></i></a>
      </div>
    </div>

    <div class="product-box">
      <img src="assets/icon/vdss.png" alt="" />
      <div class="product-layer">
        <h4> Website VDSS </h4>
        <p>Đây là website của công ty VDSS</p>
        <a href="http://vdss.com.vn/#/home"><i class="bx bx-link-external"></i></a>
      </div>
    </div>
  </div>
</section>

<!-- footer  -->
<footer class="footer">
  <div class="footer-text">
    <p>Copyright  &copy; 2023 bởi Nguyễn Quốc Việt </p>
  </div>
  <div class="footer-icon">
    <a href="#home"><i class="bx bx-up-arrow-alt"></i></a>
  </div>
</footer>