* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  border: none;
  outline: none;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

:root {
  --bg-color: #fdfdfd;
  --text-color: #333;
  --main-color: #754ef9;
  --white-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.2);
}

.dark-mode{
  --bg-color: #0b061f;
  --text-color: #fdfdfd;
  --shadow-color: rgba(0, 0, 0, 0.7);
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  background: var(--bg-color);
  color: var(--text-color);
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 7%;
  background: transparent;
  display: flex;
  align-items: center;
  z-index: 100;
  transition: 0.5s;
}

.header .sticky {
  background: var(--bg-color);
  box-shadow: 0 0.1rem 1rem var(--shadow-color);
}

.header .sticky .navbar a {
  color: var(--text-color);
}
.header .sticky .navbar a.active {
  color: var(--main-color);
}

.logo {
  font-size: 32px;
  color: #754ef9;
  font-weight: 600;
  cursor: default;
  margin-right: auto;
}

.navbar a {
  position: relative;
  font-size: 22px;
  color: #000000;
  font-weight: 500;
  margin-right: 50px;
}

.navbar a.active::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 1.5px;
  bottom: -6px;
  background: red;
}

.header .sticky .navbar a::before {
  background: var(--main-color);
  opacity: 0.7;
}

#darkMode-icon {
  font-size: 20px;
  color: var(--white-color);
  cursor: pointer;
}

.header .sticky #darkMode-icon {
  color: var(--text-color);
  opacity: 0.9;
}

section {
  min-height: 100vh;
  padding: 16rem 7% 32px;
}

.home {
  display: flex;
  align-items: center;
}

.home .home-content {
  max-width: 50rem;
}

.home-content h3 {
  font-size: 3.2rem;
  font-weight: 700;
  line-height: 1.3;
}

.home-content h1 {
  font-size: 5.6rem;
  font-weight: 700;
  margin-bottom: 2rem;
}

.home-content p {
  font-size: 1.6rem;
}

.home-content .social-media a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: transparent;
  border: 0.2rem solid var(--main-color);
  border-radius: 50%;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 2rem;
  color: var(--main-color);
  margin: 2.5rem 1.5rem 3rem 0;
  transition: 0.5s ease;
}

.home-content .social-media a:hover {
  background: var(--main-color);
  color: var(--white-color);
}

.btn {
  display: inline-block;
  padding: 1.2rem 2.8rem;
  background: var(--main-color);
  border-radius: 0.6rem;
  box-shadow: 0 0.2rem 0.5rem var(--shadow-color);
  font-size: 1.6rem;
  letter-spacing: 0.1rem;
  font-weight: 600;
  color: #ffffff;
  border: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.btn:hover {
  background: transparent;
  color: var(--main-color);
  border-color: var(--main-color);
}

.home .profession-container {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 60%;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
}

.home .profession-container .profression-box {
  position: absolute;
  top: 0;
  right: 0;
  width: 1000px;
  height: 1000px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home .profression-box .profression {
  position: absolute;
  left: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  color: var(--main-color);
  transform: rotate(calc(360deg / 3 * var(--i)));
  transform-origin: 384px;
  background: var(--bg-color);
  padding: 13px 0;
}

.home .profression-box .profression:nth-child(1) i {
  margin-right: 15px;
}
.home .profression-box .profression:nth-child(2),
.home .profression-box .profression:nth-child(3) {
  padding-bottom: 20px;
}

.home .profression i {
  font-size: 3.8rem;
}

.home .profression h3 {
  font-size: 3.1rem;
  line-height: 1;
  font-weight: 600;
}

.home .profression-box .circle {
  width: 700px;
  height: 700px;
  border: 3px solid var(--main-color);
  border-radius: 50%;
}

.home .profession-container .overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 500px solid var(--main-color);
  border-right: 500px solid var(--main-color);
  border-bottom: 500px solid var(--main-color);
  border-left: 500px solid transparent;
}

.home-img img {
  position: absolute;
  top: 0;
  right: 0;
  width: 29.2%;
  pointer-events: none;
}

span {
  color: var(--main-color);
}

.about {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.about-img img {
  width: 30vw;
}

.heading {
  font-size: 4.5rem;
  text-align: center;
}

.about-content h2 {
  text-align: left;
  line-height: 1.2;
}

.about-content h3 {
  font-size: 2rem;
}

.about-content p {
  font-size: 1.6rem;
  margin: 2rem 0 3rem;
}

.services {
  min-height: auto;
  padding-top: 7rem;
}

.services h2 {
  margin-bottom: 5rem;
}

.services .services-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.services-container .services-box {
  flex: 1 1 30rem;
  background: var(--bg-color);
  padding: 3rem 2rem 4rem;
  border-radius: 2rem;
  box-shadow: 0 0.1rem 0.5rem var(--shadow-color);
  text-align: center;
  border-top: 0.6rem solid var(--main-color);
  border-bottom: 0.6rem solid var(--main-color);
  transition: 0.5s ease;
}

.services-container .services-box:hover {
  box-shadow: 0 0.1rem 2rem var(--shadow-color);
  transform: scale(1.02);
}

.services-box i {
  font-size: 7rem;
  color: var(--main-color);
}

.services-box h3 {
  font-size: 2.6rem;
}

.services-box p {
  font-size: 1.6rem;
  margin: 1rem 0 3rem;
}

.services-box:hover h3 {
  color: var(--main-color);
}

.product {
  padding-bottom: 10rem;
}

.product h2 {
  margin-bottom: 4rem;
}
.product .product-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 2.5rem;
}

.product-container .product-box {
  position: relative;
  display: flex;
  border-radius: 2rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.product-box img {
  width: 100%;
  transition: 1.5s ease;
}

.product-box:hover img {
  transform: scale(1.1);
}

.product-box .product-layer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.1), var(--main-color));
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 4rem;
  opacity: 0;
  transition: 1s ease;
}

.product-box:hover .product-layer {
  opacity: 1;
}

.product-layer h4 {
  font-size: 3rem;
}

.product-layer p {
  font-size: 1.6rem;
  margin: 0.3rem 0 1rem;
}

.product-layer a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background: var(--white-color);
  border-radius: 50%;
}

.product-layer a i {
  font-size: 2rem;
  color: #333;
}

.footer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 2rem 7%;
  background: var(--main-color);
}

.footer-text {
  width: 50%;
  display: flex;
  justify-content: start;
}

.footer-text p {
  font-size: 1.6rem;
  color: var(--white-color);
}

.footer-icon {
  width: 50%;
  display: flex;
  justify-content: end;
}

.footer-icon a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background: var(--white-color);
  border-radius: 0.8rem;
  border: 0.2rem solid var(--main-color);
  outline: 0.2rem solid transparent;
  transition: 0.5s ease;
}

.footer-icon a:hover {
  outline-color: var(--white-color);
}

.footer-icon a i {
  font-size: 2.4rem;
  color: #333;
}

#menu-icon {
  font-size: 3.6rem;
  color: var(--text-color);
  display: none;
}

@media screen and (max-width: 1667px) {
  
}

@media screen and (max-width: 1200px) {
  html {
    font-size: 55%;
  }

  .home .profession-container {
    height: 85.5%;
  }

  .home .profession-container .product-box {
    right: -12rem;
    height: 85.5%;
  }

  .home .profession-container .overlay {
    right: -9rem;
  }
}

@media screen and (max-width: 1024px) {
  .header {
    padding: 2rem 3%;
  }

  section {
    padding: 10rem 3% 2rem;
  }

  .home .profession-container .product-box {
    right: -22rem;
  }

  .home .profession-container .overlay {
    right: -15rem;
  }
}

@media screen and (max-width: 991px) {
  .navbar a:nth-child(1),
  .navbar a:nth-child(1) {
    color: var(--main-color);
  } 

  .navbar a.active::before{
    background: var(--main-color);
    opacity: .7;
  }

  .home .home-content{
    max-width: 50rem;
  }

  .home .profession-container .profression-box {
    right: -45rem;
  }

  .home .product-container .overlay {
    right: -39.5rem;
  }

  .home-img img {
    display: none;
  }
}
